@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';

.container-fluid {
  height: 100vh;
  background-color: aquamarine;
  padding-top: 0.5rem;
}

.form-control {
  border-radius: 0;
}

.col-sm-12 {
  margin-bottom: 0.5rem;
}


.form {
  padding: 16px;
  border:  1px solid lightgrey;
  border-radius: 2px;
}

.leaveList {
  margin-top: 1rem;
  padding: 16px;
  border:  1px solid lightgrey;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .entryNo {
    margin-left: 18%;
  }
}